## INTRODUCTION TO PYTHON

In [1]:
print("Hello world welcome to python programming")

Hello world welcome to python programming

In [2]:
print('Hello world welcome to python programmimg')

Hello world welcome to python programmimg

## OPERATORS

### Arithematic operators

In [3]:
3 + 4
# Addition operator

7

In [4]:
print(3 + 4)

7

In [5]:
#Subtraction operator
8 - 5

3

In [6]:
print(8 - 5)

3

In [7]:
# Division operator
8 / 3

2.6666666666666665

In [8]:
print(8 / 3)

2.6666666666666665

In [9]:
#multiplication
print(6 * 3)

18

In [10]:
#exponential
print(2 ** 3)

8

In [11]:
2 * 2 * 2

8

In [12]:
#floor division
#floor division is only interested in d whole no.while living d remainder e.g ordinarily 2/5 will have a remainder but with floor division we dont need d remainer
2 // 5

0

In [15]:
5 // 2

2

In [16]:
#modullus is d opposite of floor division. modulus is interested in printing d remainder
5 % 2

1

In [17]:
#we can multiply string and integer

"hello" * 5

'hellohellohellohellohello'

In [18]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [20]:
"hello" + "5"

'hello5'

# Assignment operator

In [21]:
#The assignment operator is used to assign variables
#A variable can be seen as a container
#Variables in python are symbols that can store data or they are used to store information.


a = 5

In [22]:
a

5

In [23]:
a * 10

50

## input operator

In [3]:
#input takes input
#output displayes input

input()

Geny

'Geny'

In [4]:
name = input("what is your name ?")

what is your name ?Geny

In [5]:
name

'Geny'

In [6]:
print("Hello welcome")
name = input("What is your name ?")
program = input("what program are u interested in ? ")
print("Hello", name, "You are interested in", program, "see you at the finish line")

Hello welcome
What is your name ?Geny
what program are u interested in ? Data Science
Hello Geny You are interested in Data Science see you at the finish line

In [8]:
#note: python is procedural

## Casting

In [9]:
#casting is moving from one data type to another
#keywords are reserved words and they are green in color e.g input, print, and, or, type, True

In [10]:
type(8)

int

In [11]:
type(5.6)

float

In [12]:
type(True)

bool

In [13]:
type('s')

str

In [16]:
type (int('5'))

int

In [17]:
#A float is a decimal number
#integer is a whole number
#string is characters
#boolen is true or false

In [17]:
#A simple program dat prompts u to enter ur name and automatically calculates ur age

name = input('What is Your name ? ')
year = int(input('enter your year of birth; '))
current_year = 2024
age = current_year - year

print(name, 'You are', age, 'Years old. ')

What is Your name ? Geny
enter your year of birth; 2000
Geny You are 24 Years old.

In [19]:
#f string or format string

print("Hello welcome")
name = input("What is your name ?")
program = input("what program are u interested in ? ")
print(f"Hello {name} You are interested in {program} see you at the finish line")

Hello welcome
What is your name ?Geny
what program are u interested in ? Data Science
Hello Geny You are interested in Data Science see you at the finish line

In [22]:
print("Hello {} You are interested in {} see you at the finish line".format(name, program))

Hello Geny You are interested in Data Science see you at the finish line

## slicing Strings

In [11]:
#python indexing starts from 0
u = "Hello"

In [12]:
u[4]

'o'

In [14]:
u[:3]

'Hel'

In [15]:
u[3:]

'lo'

In [23]:
u[0]

'H'

In [24]:
#length of string
#len of a string starts counting from 1
len(u)

5

In [25]:
#next class Data structures 
#lists
#Tuple
#Dictionary
#Set

## Data structures

In [26]:
##data structure is a way of organinsing and storing data in computers so it can be accessed and modified effectively 
#list uses square bracket and we can place a list inside a list

#python automatically sees [] as a list.


#characteristics

#A list is an ORDERED collection of items

#mutability: this means dat d content of a list can be changed(deleted, updated, replaced)

#In list we can have a list inside a list

fruit = ['apple', 'banana']

In [27]:
fruit

['apple', 'banana']

In [28]:
#append is adding 

fruit.append("cherry")

In [29]:
fruit

['apple', 'banana', 'cherry']

In [67]:
fruit.insert(0, 'udara')

In [68]:
fruit

['udara', 'pear', 'paw pawwater melon', 'melon', 'mango', 'cherry']

In [30]:
fruit[0]

'apple'

In [69]:
fruit.insert(2, 'gova')

In [70]:
fruit

['udara', 'pear', 'gova', 'paw pawwater melon', 'melon', 'mango', 'cherry']

In [71]:
fruit[-1]

'cherry'

In [72]:
fruit[-3]

'melon'

In [73]:
fruit[-2] = "cashew"

In [74]:
fruit

['udara', 'pear', 'gova', 'paw pawwater melon', 'melon', 'cashew', 'cherry']

In [75]:
fruit.append("mango")

In [76]:
fruit

['udara',
 'pear',
 'gova',
 'paw pawwater melon',
 'melon',
 'cashew',
 'cherry',
 'mango']

In [77]:
#to call d last 2 items and remove them
fruit[:-2]

['udara', 'pear', 'gova', 'paw pawwater melon', 'melon', 'cashew']

In [78]:
#calling backward
fruit[-1]

'mango'

In [79]:
fruit[-2] = "pear"

In [80]:
fruit

['udara',
 'pear',
 'gova',
 'paw pawwater melon',
 'melon',
 'cashew',
 'pear',
 'mango']

In [81]:
fruit[:-2] = ["melon", "pap"]

In [82]:
fruit

['melon', 'pap', 'pear', 'mango']

In [83]:
fruit.extend(['paw paw', 'cherry'])

In [84]:
fruit

['melon', 'pap', 'pear', 'mango', 'paw paw', 'cherry']

In [85]:
fruit.pop(-3)

'mango'

In [86]:
fruit

['melon', 'pap', 'pear', 'paw paw', 'cherry']

In [87]:
fruit.remove('pap')

In [88]:
fruit

['melon', 'pear', 'paw paw', 'cherry']

In [90]:
#pop pops out and delete

fruit.pop(3)

'cherry'

In [91]:
fruit.pop(-2)

'pear'

In [92]:
fruit

['melon', 'paw paw']

In [93]:
#sort arranges alphebetically
fruit.sort()

In [94]:
fruit

['melon', 'paw paw']

In [95]:
fruit.reverse()

In [96]:
fruit

['paw paw', 'melon']

In [97]:
d = fruit.copy()

In [98]:
fruit

['paw paw', 'melon']

## Lists of lists

In [1]:
d = [['orange', 'mango', 'melon'], [1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e']]

In [2]:
d

[['orange', 'mango', 'melon'], [1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e']]

In [3]:
d[0]

['orange', 'mango', 'melon']

In [4]:
d[0][2]

'melon'

In [5]:
d[1]

[1, 2, 3, 4, 5]

In [6]:
d[1][4]

5

## TUPLE

In [103]:
#tuple is a data structure dat is used to store item dat donot allow for mutability. it cant be changed
#tuple is seen in parethesis
#tuple have characteristic like list, its ordered, its indexed, it can entertain same identical item
# tuple cannot be modified ie cannot allow to add

In [144]:
d = ('a','b','c','d')

In [145]:
type(d)

tuple

In [146]:
#count: this returns d freq of an item being specified

d.count('d')

1

In [147]:
#index: this returns d index of an item

d.index('c')

2

In [148]:
d.index('d',3)

3

## Set Data Structure

In [104]:
#set is a collection of item

#characteristics

#set is unordered
#set is mutable
#set do not allow for dublicate
#set can be modified ie allow to add item
#set is always seen in curly braces {} in python

In [116]:
d = {'A', 'A', 'c', 'e', 'e'}

In [117]:
d

{'A', 'c', 'e'}

In [118]:
#add
#add is used to add single item

d.add('f')

In [119]:
d

{'A', 'c', 'e', 'f'}

In [120]:
#clear

#d.clear()

In [121]:
d

{'A', 'c', 'e', 'f'}

In [122]:
#update method
#update is used for group of items

c = {1, 5, 6, 8}

d.update(c)

In [123]:
d

{1, 5, 6, 8, 'A', 'c', 'e', 'f'}

In [124]:
d

{1, 5, 6, 8, 'A', 'c', 'e', 'f'}

In [125]:
f = {'p', 'u', 'r'}

In [126]:
d.update(f)

In [127]:
#note:set scale more on numbers than alphabets
d

{1, 5, 6, 8, 'A', 'c', 'e', 'f', 'p', 'r', 'u'}

In [128]:
a = {1, 2, 3, 4, 5}
b = {5, 4, 3, 2, 1}

In [129]:
a.union(b)

{1, 2, 3, 4, 5}

In [130]:
#intersection means wat is in a dat is also in b

a.intersection(b)

{1, 2, 3, 4, 5}

In [131]:
a.intersection_update(b)

In [132]:
a

{1, 2, 3, 4, 5}

## Dictionary

In [133]:
#Dictionary is a data structure.Dictionary is a collection of unordered and changeable yet indexed item. 

#dictionary also uses curly braces {}
#dictionary stores items in key value pairs
#in dic we cant have repeated items in key

In [134]:
bio = {"Name": "obi", "School": "Skillharvest", "Age": 20, "Sex": "male"}

In [135]:
bio

{'Name': 'obi', 'School': 'Skillharvest', 'Age': 20, 'Sex': 'male'}

In [136]:
bio.keys()

dict_keys(['Name', 'School', 'Age', 'Sex'])

In [137]:
bio.values()

dict_values(['obi', 'Skillharvest', 20, 'male'])

In [138]:
bio.items()

dict_items([('Name', 'obi'), ('School', 'Skillharvest'), ('Age', 20), ('Sex', 'male')])

In [149]:
n = {'coins':['btc', 'eth', 'cake'],
     'fruit': ['mango', 'melon', 'pear', 'apple'],
     'cars': ['toyota', 'lexus', 'honda', 'camery']}

In [150]:
n

{'coins': ['btc', 'eth', 'cake'],
 'fruit': ['mango', 'melon', 'pear', 'apple'],
 'cars': ['toyota', 'lexus', 'honda', 'camery']}

In [151]:
n.keys()

dict_keys(['coins', 'fruit', 'cars'])

In [153]:
n.values()

dict_values([['btc', 'eth', 'cake'], ['mango', 'melon', 'pear', 'apple'], ['toyota', 'lexus', 'honda', 'camery']])

In [154]:
n['coins']

['btc', 'eth', 'cake']

In [155]:
n['fruit']

['mango', 'melon', 'pear', 'apple']

In [156]:
n['cars']

['toyota', 'lexus', 'honda', 'camery']

In [159]:
n['coins'] = ['satoshi', 'pi', 'doge', 'ice', 'avive']

In [160]:
# Note this explains why we say dict is mutable

n

{'coins': ['satoshi', 'pi', 'doge', 'ice', 'avive'],
 'fruit': ['mango', 'melon', 'pear', 'apple'],
 'cars': ['toyota', 'lexus', 'honda', 'camery']}

In [162]:
# update removes everything automatically and replace not add

n.update({'coins': 'btc'})

In [163]:
n

{'coins': 'btc',
 'fruit': ['mango', 'melon', 'pear', 'apple'],
 'cars': ['toyota', 'lexus', 'honda', 'camery']}

In [164]:
# Note: we can also have dictionaries inside dictionary

In [165]:
n['coins'][0]

'b'

## Conditional Statements 7th Feb

In [166]:
#conditional statements is basically used to execute a block of codes or statements based on a condition either true or false.
#conditional statement allows for complexity.
#condition statement allows for flexibility and dynamic

#if: A condition must start with If. this is used to execute a block of code if a condition is true.
#elif: This means else if. this is used to check multiple condition one by one. 
#else: This is used to execute a block of code if a condition in d if statement is false. else execute when d if statement fails

In [173]:
name = str(input("what is your name? "))
age = int(input("How old are you? "))
if age > 18:
    print(f"Hello {name} You are {age} years old and you are eligible to drive")
else:
    print(f"Hello {name} You are {age} years old and you are not eligible to drive to dive")

what is your name? Geny
How old are you? 24
Hello Geny You are 24 years old and you are eligible to drive to dive

In [176]:
name = str(input("what is your name? "))
age = int(input("How old are you? "))
if age >= 18 and age <= 30:
    print(f"Hello {name} You are {age} years old and you are eligible to drive to dive")
elif age > 30 and age < 60:
    print(f"Hello {name} You are {age} years old, as such you should be careful while driving")
else:
    print(f"Hello {name} You are {age} years old, as such you are too old to drive")

what is your name? geny
How old are you? 90
Hello geny You are 90 years old, as such you are too old to drive

In [192]:
name = str(input("what is your name? "))
age = int(input("How old are you? "))
if age >= 0 and age <= 10:
    print(f"Hello {name} You are {age} years old, as such you should be in primary school")
elif age > 10 and age < 18:
    print(f"Hello {name} You are {age} years old, as such you should be secondary school")
elif age > 18 and age < 22:
    print(f"Hello {name} You are {age} years old, as such you should be in the university")
elif age > 23 and age < 30:
    children = int(input("how many children do you have? "))
    if children > 3:
        print(f"hello {name} you are {age} years old, you have {children} number of children as such you should'nt go for masters")
    else:
        print(f"hello {name} you are {age} years old, you have {children} number of children as such you should go for masters")
else:
    print(f"Hello {name} You are {age} years old, as such you should go for phd")

what is your name? geny
How old are you? 29
how many children do you have? 3
hello geny you are 29 years old, you have 3 number of children as such you should go for masters

In [193]:
#class task

#age = 0 - 18  'too young to drive'
#18 - 25 'you can drive'
#25 - 40 'be careful while driving'
#40 - 60 ask: have u gone to relearn how to drive
   # if yes u can drive
    #if no go and learn
#if age > 60
#ask do u have a driver
#if yes ask does ur driver have a licence
#if yes u can drive in
#if no you cant drive in

In [8]:
name = str(input("what is your name? "))
age = int(input("How old are you? "))
if age >= 0 and age <= 18:
    print(f"Hello {name} You are {age} years old and you are too young to drive")
elif age > 18 and age < 25:
    print(f"Hello {name} You are {age} years old, as such you can drive")
elif age >= 25 and age < 40:
    print(f"Hello {name} You are {age} years old, as such be careful while driving")
elif age >= 40 and age <= 60:
    learn = str(input("have you gone to relearn how to drive? "))
    if learn == "yes":
         print(f"Hello {name} You are {age} years old, you can drive")
    else:
        print(f"Hello {name} You are {age} years old, go and learn")
                    
elif age > 60:
    driver = str(input("Do you have a driver? "))
    if driver == "yes":
        license = str(input("does your driver have a license? "))
        if license == "yes": 
            print(f"Hello {name} You are {age} years old, you can drive in ")
        else:
            print(f"Hello {name} You are {age} years old, you can't drive in ")

                        
    
else:
    print(f"Hello {name} You are {age} years old, Go an relearn how to drive")

what is your name? Geny
How old are you? 90
Do you have a driver? no

## Loop

In [205]:
# A loop is used in python to repeat a task

#2 tppes of loop
#for loop: This is used in python to iterate over a sequence of characters until d required conditions are met. for loop checks as long as d requird condition still remains

#while Loop: while loop execute a certain block of code as long as d condition is true

In [207]:
for i in range (100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [209]:
#for even numbers

for i in range (101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [212]:
for i in range (101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [213]:
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [214]:
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [215]:
f = [i for i in range(1, 100, 2)]

In [216]:
f

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [217]:
#Assignment

#create a system more like a password manager
#it will autenticate users based on user name and password 
#the first question it should ask is where is ur username
#where is ur password
#when u want to login it will ask u of ur username and password
#if username and password is correct, print successful
#if username and password is not correct it should print wrong credentials

#just 3 names is ok

In [ ]:
#username_password = {"username": ['Oge', 'geny', 'Praise'], "password": ['bsc001', 'phy205', '1234']}

#user = str(input('What is your username? '))
#password = str(input('What is your password? '))

#if user in username_password["username"] and password in username_password["password"]:
 #   print(f"Hello {username} with {password} your login is successful")
    
#else:
#    print(f"Hello wrong credentials")